

// Signin view
.view#signin {

  .content-container {

    position: absolute;
    bottom: 96px; left: 96px;

    .titles {

      position: relative;
      text-transform: uppercase;

      .raised {
        
        position: absolute;
        top: -16px; left: 0;

        font-size: 20px;
        font-weight: 300;
        letter-spacing: 2px;

      }

      .normal {

        font-size: 64px;
        font-weight: 900;
        letter-spacing: 6px;

      }

    }

    input.username,
    input.password {

      width: 100%;

    }

    input.username {

      margin-top: 8px;

    }

    input.password {

      margin-top: 16px;

    }

    button {

      display: none;

    }

  }

}