

// Signin view
#signin .content-container {

  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;

  .title {

    font-size: 24px;
    margin-bottom: 16px;
    // letter-spacing: 2px;
    
  }

  .signin-form {

    .notification {

      position: relative;
      overflow: hidden;
      height: 0;
      transition: 200ms $trans-base;
      
      color: $tert;
      font-size: 14px;
      font-weight: 500;
      text-transform: none;

      &.active {

        height: 24px;

      }

    }

    & > input {

      display: block;
      margin-top: 12px;
      width: 198px;

      &:nth-child(1) {

        margin-top: 0;

      }

    }

    .buttons {

      margin-top: 12px;
      width: 100%;

      display: flex;
      label { flex: 1; }

      .button {

        position: relative;
        width: auto;
        height: 48px;
        background-color: $tert;
        cursor: pointer;

        overflow: hidden;
        border-radius: 3px;
        flex: 1;
        
        &:nth-child(1) { margin-right: 12px; }
        &:hover { background-color: lighten($tert, 2%); }
        &:active { background-color: darken($tert, 2%); }

        .main-icon,
        .load-icon {

          position: absolute;
          transform: translate(-50%,-50%);
          transition: 200ms $trans-base;
          width: 16px;
          fill: $prim;

        }

        .main-icon { top: 50%; left: 50%; }
        .load-icon { top: -50%; left: 50%; }

        &.loading {
          .main-icon { top: 150%; }
          .load-icon { top: 50%; }
        }

      }

    }

  }

}