

// Fields
$sidebar-width: 256px;

// Subview Container
.view#subcontainer {

  .sidebar {

    position: absolute;
    top: 0; left: 0;
    width: $sidebar-width;
    height: 100%;

    background-color: lighten($prim, 10%);

    &:before {

      content: '';
      display: block;

      position: absolute;
      top: 96px; left: 50%;
      transform: translateX(-50%);

      width: 64px;
      height: 64px;
      border-radius: 50%;
      background-color: $prim;

    }

  }

  .content-container {

    position: absolute;
    top: 0; right: 0;
    width: calc(100% - #{$sidebar-width});
    height: 100%;

  }

}