

// Fields
$prim-fontstack: 'Poppins', sans-serif;
$seco-fontstack: 'Poppins', sans-serif;
$prim: #f3f3f3;
$seco: #242424;

// Body
body {

  overflow: hidden;
  margin: 0;

  color: $seco;
  background-color: $prim;
  font-family: $prim-fontstack;
  * { box-sizing: border-box; }

  

  #drabable {

    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 16px;
    z-index: 99;

    -webkit-app-region: drag;

  } 
  
  #views {

    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    #views-inner {

      position: absolute;
      top: 0; left: 0;
      width: 100%; 
      height: auto;

      .view {

        position: relative;
        width: 100%;
        height: 100vh;

      }

    }

  }

}

// Imports
@import './view';

// Globals
@import './globals/inputs';

// Views
@import './views/signin';
@import './views/subcontainer';