

// Text fields
input[type="text"],
input[type="password"],
input[type="mail"] {

  // Normalization
  border-width: 0;
  outline: none;

  // Customization
  display: block;
  width: auto;
  height: 54px;
  padding: 0 32px;
  letter-spacing: 2px;

  font-family: $seco-fontstack;
  font-size: 14px;
  background-color: rgba($seco, .1);
  color: $seco;


}

// Buttons
button {

  // Normalization
  position: relative;
  border-width: 0;

  // Customization
  padding: 0px 24px;
  height: 24px;
  background-color: $seco;
  color: $prim;
  cursor: pointer;

  // Text
  font-size: 14px;
  font-family: $prim-fontstack;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;

  // Icon
  svg.icon {

    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);

    width: 20px;
    fill: $prim;

  }


}