

// Text n' password
input[type="text"],
input[type="password"] {

  border-width: 0px;
  outline: none;
  font-family: $fontstack;
  padding: 12px 16px;

  background-color: darken($prim, 10%);
  &:hover { background-color: darken($prim, 12%); }

}